
<section [ngClass]="{'loading': !taskList.length}">

<ul *ngIf="taskList.length">

<li *ngFor="let item of taskList; index as i">
    <input type="checkbox" [(ngModel)]="item.checked">
    <input type="text" (keyup)="emptyValidation(item.name,i)" [(ngModel)]="item.name" [ngClass]="{'checked': item.checked}">

    <button (click)="deleteTask(i)">
        <img src="assets\icons\trash.png" width="14px" height="14px">
    </button>
</li>

</ul>

</section>
<app-todo-input-add-button (emitterTaskList)="setTask($event)"></app-todo-input-add-button>
<app-todo-button-delete-all *ngIf="taskList.length" (click)="deleteAll()"></app-todo-button-delete-all>
